---
import Layout from "../layouts/Layout.astro";
import UserIntro from "../components/UserIntro.astro";
---

<Layout title="Laurin Notemann">
  <main class="p-20">
    <UserIntro />
  </main>
</Layout>
