---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <main class="p-20">
    <h1>Projects</h1>
    <p>Quick Intro</p>
    <a href="/projects">Check out my project now</a>
  </main>
</Layout>
