---

---

<div class="flex flex-col gap-3">
  <h1 class="text-5xl">Laurin Notemann</h1>
  <p class="text-lg">
    Currently studying Software Engineering at <a
      class="text-blue-400 underline" 
      href="https://code.berlin">CODE University</a
    > in Berlin.
  </p>
  <p class="text-lg">
    Check out my
    <a class="text-blue-400 underline" href="/projects">projects</a>
    now!
  </p>
</div>
