---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Laurin Personal Website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <nav class="flex justify-evenly py-6 gap-16 text-xl">
      <p class="self-center">Laurin Notemann</p>
      <div class="flex gap-16 justify-between">
        <a class="self-center" href="/">Home</a>
        <a class="self-center" href="/projects">Projects</a>
        <a class="self-center" href="/projects">Job Experiences</a>
        <a href="https://www.linkedin.com/in/laurin-notemann/"
          ><img src="linkedin.svg" alt="" width="40" /></a
        >
        <a href="https://github.com/laurin-notemann"
          ><img src="github-two.svg" alt="" width="40" /></a
        >
        <a class="self-center" href="#">CV</a>
      </div>
    </nav>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Inter";
    background: #111;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
